* {
  box-sizing: border-box;
}
body {
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
}
/*colors*/
:root {
    --primaryOne: #ffcc01;
    --primaryTwo: #000;
    --primaryThree: #ffffff;
    --primaryFour: #1f373d;
    --secondaryOne: #919eb1;
    --secondaryTwo: #aaa;
    --secondarythree: #d5d5d5;
}
/*colors*/
/*start navbar*/
.navbar {
    background-color: var(--primaryThree);
    border-bottom: none;
    z-index: 999;
}
.navbar .navbar-brand {
    color: var(--primaryFour);
    font-size: 20px;
    font-weight: bold;
}
  .navbar-nav.navbar-center {
    position: absolute;
    left: 50%;
    transform: translatex(-50%);
      z-index: 999;
  }
.navbar-default .navbar-nav>li>a {
    color: var(--primaryFour);
    font-size: 15px;
}
.navbar .navbar-right .bor {
    background-color: var(--primaryOne);
    color: var(--primaryTwo);
    border-radius: 8px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 7px;
}
.navbar .navbar-right .bor:hover {
    background-color: var(--primaryOne);
}
/*end navbar*/

/*start header*/

.text {
    position: absolute;
    top: 30%;
    left: 7.5%;
}
.header .text .scroll {
    margin-top: 40%;
    transform: rotate(270deg);
    transform-origin: 0 0;
    font-size: 12px;
}

.text-bottom {
/*
    position: absolute;
    bottom: 8.6%;
    right: 5.7%;
    background-color: var(--primaryOne);
    width: 28%;
    text-align: center;
*/
    position: relative;
    float: right;
    top: -4.3em;
    background-color: var(--primaryOne);
    right: -2em;
    z-index: 200;
    width: 33%
}
.text-bottom i {
    margin-left: 25px;
    margin-right: 10px;
    color: var(--primaryThree);
    font-size: 17px;
    
}
.text .fa-map-marker-alt {
    transform:rotate(90deg);
}
.text-bottom p {
    display: inline-block;
    padding-top: 20px;
    padding-bottom: 10px;
}
.text-bottom span {
    color: var(--primaryFour);
}
.header img {
    left: 141px;
    position: relative;
    width: 90%;
    height: 500px;
}
.header .header-img {
    display: none;
}
.header .header-text {
    word-break: normal;
    width: 440px;
    font-weight: bolder;
    color: var(--primaryFour);
    line-height: 46px;
    font-size: 45px;
    margin-top: 8%;
}
.example {
    margin-top: 4%;
}
form.example input[type=text] {
    padding: 10px;
    font-size: 17px;
    border: none;
    float: left;
    width: 320px;
    background: var(--primaryThree);
    outline: none;
    font-family: FontAwesome;
    font-size: 15px;
    color: var(--secondaryOne);
}

form.example button {
    float: left;
    width: 90px;
    padding-bottom: 15px;
    padding-top: 9px;
    background-color: var(--primaryOne);
    color: var(--primaryTwo);
    font-size: 12px;
    border: none;
    cursor: pointer;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    outline: none;
    text-align: center;
    
}
form.example button:hover {
  background-color: var(--primaryOne);
}

/*end header*/

/*start stat*/
.stat {
    margin-top: 5%;
}
.stat .stat-h1 {
    word-break: normal;
    width: 440px;
    font-weight: bolder;
    color: var(--primaryFour);
    line-height: 46px;
    font-size: 45px;
}
.stat .stat-p {
    font-size: 12px;
    margin-top: 5%;
}
.stat .card {
    margin-top: 20%;
    background-color: #f6f5f4;
    text-align: center;
    width: 70%;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;
}
.stat .card h1 {
    color: var(--primaryOne);

}
/*end stat*/


/*start rent*/
.rent {
    margin-top: 5%;
    background-color: #f6f5f4;
}
.rent .stat-h1 {
    word-break: normal;
    width: 600px;
    font-weight: bolder;
    color: var(--primaryFour);
    line-height: 46px;
    font-size: 45px;
    margin-bottom: 20px;
}

.rent .card {
    max-width: 80%;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.33);
}
.rent .card img {
    height: 300px;
}
.rent .card h4 {
    font-size: 14px;
    margin-left: 5px;
    color: var(--primaryFour);
    font-weight: bold;
    line-height: 1.8;
}

.rent .card .numspan {
    font-size: 18px;
    color: var(--primaryOne);
    font-weight: bold;
    line-height: 3;
    margin-left: 5px;
}
.rent .card .iconspan {
    float: right;
    margin-right: 10px;
}
.rent .card .text-one {
    font-size: 13px;
    color: var(--secondaryOne);
    line-height: 3.846;
}
.rent .card .text-two {
    font-size: 13px;
    color: var(--secondaryOne);
    line-height: 3.846;
}
.rent .card .fa-shower {
    font-size: 12px;
    transform:rotateY(180deg);
    margin-right: 2px;
}
.rent .card .fa-car {
    font-size: 12px;
    margin-right: 2px;
    margin-left: 10px;
}
.rent .example {
    margin-top: 2%;
    margin-bottom: 100px;
}
.rent form.example input[type=text] {
    padding: 10px;
    font-size: 17px;
    border: none;
    float: left;
    width: 320px;
    background: var(--primaryThree);
    outline: none;
    font-family: FontAwesome;
    font-size: 15px;
    color: var(--secondaryOne);
}

.rent form.example button {
    float: left;
    width: 90px;
    padding-bottom: 15px;
    padding-top: 9px;
    background-color: var(--primaryOne);
    color: var(--primaryTwo);
    font-size: 12px;
    font-weight: bolder;
    border: none;
    cursor: pointer;
    outline: none;
    text-align: center;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    
}
.rent form.example .sec-bot {
    float: left;
    width: auto;
    padding-bottom: 10px;
    padding-top: 10px;
    padding-left: 25px;
    padding-right: 25px;
    margin-left: 60px;
    background-color: var(--primaryThree);
    color: var(--primaryFour);
    font-size: 12px;
    border: none;
    cursor: pointer;
    outline: none;
    text-align: center;
}

/*end rent*/

/*start how it work*/
.work {
    margin-top: 5%;
}
.work .work-h1 {
    font-size: 30px;
    font-weight: bold;
}
.work .work-p {
    width: 340px;
    line-height: 1.9;
    word-break: normal;
    font-weight: bold;
}
.work .work-card {
    position: relative;
    max-width: 300px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.33);
    overflow: hidden
}
.work .work-num-h1 {
    position: absolute;
    font-weight: bold;
    font-size: 140px;
    top: -33%;
    left: -9%;
    color: var(--primaryFour);
}
.work .work-text-h4 {
    margin-top: 40%;
    margin-bottom: 10%;
    font-size: 18px;
    font-weight: bold;
}
.work .work-text-p {
    margin-bottom: 7%;
    font-size: 12px;
    color: var(--primaryFour);
}
.work .work-text-find {
    margin-bottom: 40px;
}
.work .line {
    content:'';
    display:inline-block;
    width:94px;  
    border-bottom: 3px solid var(--primaryThree);
    position: absolute;
    bottom: 8%;
}
.work .line2 {
    content:'';
    display:inline-block;
    width:120px;  
    border-bottom: 3px solid var(--primaryFour);
    position: absolute;
    bottom: 8%;
}
.work .line3 {
    content:'';
    display:inline-block;
    width:94px;  
    border-bottom: 3px solid var(--primaryFour);
    position: absolute;
    bottom: 8%;
}
.work .active {
    background-color: var(--primaryOne);
    color: var(--primaryThree);
}
.work .active h1 {
    color: var(--primaryThree);
}
.work .active p {
    color: var(--primaryThree);
}
/*end how it work*/

/* Some media queries for responsiveness */
@media  screen and (max-width: 600px) {
/*navbar*/
  .navbar-nav.navbar-center {
    position: relative;
      margin-left: -8px;
  }
/*navbar*/
    
/*header*/
    .header img {
    left: 101px;
    width: 75%;
    height: 400px;
}
.text {
    position: absolute;
    top: 20%;
    left: 4%;
}
.header .text .scroll {
    margin-top: 50%;
    font-size: 12px;
    display: block;
}
    .text .fa-arrow-down {
        display: block;
    }

.text-bottom {
    position: relative;
    float: right;
    top: -2.5em;
    background-color: var(--primaryOne);
    right: -15px;
    z-index: 200;
    width: 75%
}
.text-bottom i {
    margin-left: 25px;
    margin-right: 10px;
    color: var(--primaryThree);
    font-size: 10px;
    
}
.text .fa-map-marker-alt {
    transform:rotate(90deg);
}
.text-bottom p {
    display: inline-block;
    padding-top: 12px;
    padding-bottom: 5px;
    font-size: 9px
}
.text-bottom span {
    color: var(--primaryFour);
}
.header .header-text {
    word-break: normal;
    width: 300px;
    font-weight: bolder;
    color: var(--primaryFour);
    line-height: 46px;
    font-size: 30px;
    margin-top: 8%;
}
.example {
    margin-top: 4%;
}
form.example input[type=text] {
    padding: 10px;
    font-size: 17px;
    border: none;
    float: left;
    width: 190px;
    background: var(--primaryThree);
    outline: none;
    font-family: FontAwesome;
    font-size: 15px;
    color: var(--secondaryOne);
}

form.example button {
    float: left;
    width: 90px;
    padding-bottom: 15px;
    padding-top: 9px;
    background-color: var(--primaryOne);
    color: var(--primaryTwo);
    font-size: 12px;
    border: none;
    cursor: pointer;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    outline: none;
    text-align: center;
    
}
form.example button:hover {
  background-color: var(--primaryOne);
}
/*header*/

/*stat*/
.stat .stat-h1 {
    word-break: normal;
    width: 300px;
    font-weight: bolder;
    color: var(--primaryFour);
    line-height: 46px;
    font-size: 25px;
}
/*stat*/

/*rent*/
.rent .stat-h1 {
    word-break: normal;
    width: 300px;
    font-weight: bolder;
    color: var(--primaryFour);
    line-height: 46px;
    font-size: 25px;
}
.rent .card {
    max-width: 100%;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
}
.rent .card img {
    height: 250px;
}
.rent .card h4 {
    font-size: 9px;
    margin-left: 5px;
    margin-bottom: 20px;
}
.rent .card .numspan {
    font-size: 14px;
    color: var(--primaryOne);
    font-weight: bold;
    line-height: 3.4;
    margin-left: 5px;
}
.rent .card .iconspan {
    float: right;
    margin-right: 0px;
}
.rent .card .text-one {
    font-size: 12px;
    color: var(--secondaryOne);
    line-height: 3.846;
}
.rent .card .text-two {
    font-size: 12px;
    color: var(--secondaryOne);
    line-height: 3.846;
    margin-right: 1px;
}
.rent .card .fa-shower {
    font-size: 10px;
    transform:rotateY(180deg);
    margin-right: 2px;
}
.rent .card .fa-car {
    font-size: 10px;
    margin-right: 2px;
    margin-left: 10px;
}
.rent .example {
    margin-top: 2%;
}
.rent form.example input[type=text] {
    padding: 10px;
    font-size: 17px;
    border: none;
    float: left;
    max-width: 250px;
    background: var(--primaryThree);
    outline: none;
    font-family: FontAwesome;
    font-size: 15px;
    color: var(--secondaryOne);
}

.rent form.example button {
    float: left;
    width: 90px;
    padding-bottom: 15px;
    padding-top: 9px;
    background-color: var(--primaryOne);
    color: var(--primaryTwo);
    font-size: 12px;
    font-weight: bolder;
    border: none;
    cursor: pointer;
    outline: none;
    text-align: center;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    
}
.rent form.example .sec-bot {
    float: left;
    width: auto;
    padding-bottom: 10px;
    padding-top: 10px;
    padding-left: 25px;
    padding-right: 25px;
    margin-left:auto;
    margin-top: 10px;
    background-color: var(--primaryThree);
    color: var(--primaryFour);
    font-size: 12px;
    border: none;
    cursor: pointer;
    outline: none;
    text-align: center;
}

/*rent*/
/*start how it work*/
.work {
    margin-top: 8%;
}
.work .work-h1 {
    font-size: 30px;
    font-weight: bold;
}
.work .work-p {
    width: 340px;
    line-height: 1.9;
    word-break: normal;
    font-weight: bold;
}
.work .work-card {
    position: relative;
    max-width: 300px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.33);
    overflow: hidden;
    margin-bottom: 20%;
}
.work .work-num-h1 {
    position: absolute;
    font-weight: bold;
    font-size: 140px;
    top: -35%;
    left: -16%;
    color: var(--primaryFour);
}
.work .work-text-h4 {
    margin-top: 70%;
    margin-bottom: 10%;
    font-size: 9px;
    font-weight: bold;
}
.work .work-text-p {
    margin-bottom: 7%;
    font-size: 8px;
    color: var(--primaryFour);
}
.work .work-text-find {
    margin-bottom: 40px;
}
.work .line {
    content:'';
    display:inline-block;
    width:94px;  
    border-bottom: 3px solid var(--primaryThree);
    position: absolute;
    bottom: 8%;
}
.work .line2 {
    content:'';
    display:inline-block;
    width:120px;  
    border-bottom: 3px solid var(--primaryFour);
    position: absolute;
    bottom: 8%;
}
.work .line3 {
    content:'';
    display:inline-block;
    width:94px;  
    border-bottom: 3px solid var(--primaryFour);
    position: absolute;
    bottom: 8%;
}
.work .active {
    background-color: var(--primaryOne);
    color: var(--primaryThree);
}
.work .active h1 {
    color: var(--primaryThree);
}
.work .active p {
    color: var(--primaryThree);
}
/*end how it work*/

}
/*end header*/

@media only screen and (min-width: 600px) {
/*navbar*/
  .navbar-nav.navbar-center {
    position: relative;
      margin-left: -8px;
  }
/*navbar*/
    
/*header*/
    .header img {
    left: 110px;
    width: 83%;
    height: 400px;
}
.text {
    position: absolute;
    top: 20%;
    left: 4%;
}
.header .text .scroll {
    margin-top: 50%;
    font-size: 12px;
    display: block;
}
    .text .fa-arrow-down {
        display: block;
    }

.text-bottom {
    position: relative;
    float: right;
    top: -2.8em;
    background-color: var(--primaryOne);
    right: -13px;
    z-index: 200;
    width: 50%
}
.text-bottom i {
    margin-left: 25px;
    margin-right: 10px;
    color: var(--primaryThree);
    font-size: 10px;
    
}
.text .fa-map-marker-alt {
    transform:rotate(90deg);
}
.text-bottom p {
    display: inline-block;
    padding-top: 12px;
    padding-bottom: 5px;
    font-size: 9px
}
.text-bottom span {
    color: var(--primaryFour);
}
.header .header-text {
    word-break: normal;
    width: 300px;
    font-weight: bolder;
    color: var(--primaryFour);
    line-height: 46px;
    font-size: 30px;
    margin-top: 8%;
}
.example {
    margin-top: 4%;
}
form.example input[type=text] {
    padding: 10px;
    font-size: 17px;
    border: none;
    float: left;
    width: 190px;
    background: var(--primaryThree);
    outline: none;
    font-family: FontAwesome;
    font-size: 15px;
    color: var(--secondaryOne);
}

form.example button {
    float: left;
    width: 90px;
    padding-bottom: 15px;
    padding-top: 9px;
    background-color: var(--primaryOne);
    color: var(--primaryTwo);
    font-size: 12px;
    border: none;
    cursor: pointer;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    outline: none;
    text-align: center;
    
}
form.example button:hover {
  background-color: var(--primaryOne);
}
/*header*/

/*stat*/
.stat .stat-h1 {
    word-break: normal;
    width: 300px;
    font-weight: bolder;
    color: var(--primaryFour);
    line-height: 46px;
    font-size: 25px;
}
/*stat*/

/*rent*/
.rent .stat-h1 {
    word-break: normal;
    width: 300px;
    font-weight: bolder;
    color: var(--primaryFour);
    line-height: 46px;
    font-size: 25px;
}
.rent .card {
    max-width: 90%;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
}
.rent .card img {
    height: 250px;
}
.rent .card h4 {
    font-size: 9px;
    margin-left: 5px;
    margin-bottom: 20px;
}
.rent .card .numspan {
    font-size: 14px;
    color: var(--primaryOne);
    font-weight: bold;
    line-height: 3.4;
    margin-left: 5px;
}
.rent .card .iconspan {
    float: right;
    margin-right: 0px;
}
.rent .card .text-one {
    font-size: 12px;
    color: var(--secondaryOne);
    line-height: 3.846;
}
.rent .card .text-two {
    font-size: 12px;
    color: var(--secondaryOne);
    line-height: 3.846;
    margin-right: 1px;
}
.rent .card .fa-shower {
    font-size: 10px;
    transform:rotateY(180deg);
    margin-right: 2px;
}
.rent .card .fa-car {
    font-size: 10px;
    margin-right: 2px;
    margin-left: 10px;
}
.rent .example {
    margin-top: 2%;
}
.rent form.example input[type=text] {
    padding: 10px;
    font-size: 17px;
    border: none;
    float: left;
    max-width: 250px;
    background: var(--primaryThree);
    outline: none;
    font-family: FontAwesome;
    font-size: 15px;
    color: var(--secondaryOne);
}

.rent form.example button {
    float: left;
    width: 90px;
    padding-bottom: 15px;
    padding-top: 9px;
    background-color: var(--primaryOne);
    color: var(--primaryTwo);
    font-size: 12px;
    font-weight: bolder;
    border: none;
    cursor: pointer;
    outline: none;
    text-align: center;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.rent form.example .sec-bot {
    float: left;
    width: auto;
    padding-bottom: 10px;
    padding-top: 10px;
    padding-left: 25px;
    padding-right: 25px;
    margin-left:auto;
    margin-top: 10px;
    background-color: var(--primaryThree);
    color: var(--primaryFour);
    font-size: 12px;
    border: none;
    cursor: pointer;
    outline: none;
    text-align: center;
}

/*rent*/
/*start how it work*/
.work {
    margin-top: 5%;
}
.work .work-h1 {
    font-size: 30px;
    font-weight: bold;
}
.work .work-p {
    width: 340px;
    line-height: 1.9;
    word-break: normal;
    font-weight: bold;
}
.work .work-card {
    position: relative;
    max-width: 300px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.33);
    overflow: hidden;
    margin-bottom: 20%;
}
.work .work-num-h1 {
    position: absolute;
    font-weight: bold;
    font-size: 140px;
    top: -33%;
    left: -9%;
    color: var(--primaryFour);
}
.work .work-text-h4 {
    margin-top: 40%;
    margin-bottom: 10%;
    font-size: 18px;
    font-weight: bold;
}
.work .work-text-p {
    margin-bottom: 7%;
    font-size: 12px;
    color: var(--primaryFour);
}
.work .work-text-find {
    margin-bottom: 40px;
}
.work .line {
    content:'';
    display:inline-block;
    width:94px;  
    border-bottom: 3px solid var(--primaryThree);
    position: absolute;
    bottom: 8%;
}
.work .line2 {
    content:'';
    display:inline-block;
    width:120px;  
    border-bottom: 3px solid var(--primaryFour);
    position: absolute;
    bottom: 8%;
}
.work .line3 {
    content:'';
    display:inline-block;
    width:94px;  
    border-bottom: 3px solid var(--primaryFour);
    position: absolute;
    bottom: 8%;
}
.work .active {
    background-color: var(--primaryOne);
    color: var(--primaryThree);
}
.work .active h1 {
    color: var(--primaryThree);
}
.work .active p {
    color: var(--primaryThree);
}
/*end how it work*/

}
@media only screen and (min-width: 768px) {
/*navbar*/
  .navbar-nav.navbar-center {
    position: relative;
      margin-left: -8px;
      left: 35%;
  }
    .navbar-default .navbar-nav>li>a {
        font-size: 10px;
    }
/*navbar*/
    
/*header*/
.header img {
    left: 110px;
    width: 88%;
    height: 400px;
}
.text {
    position: absolute;
    top: 20%;
    left: 4%;
}
.header .text .scroll {
    margin-top: 50%;
    font-size: 12px;
    display: block;
}
.text .fa-arrow-down {
        display: block;
    }

.text-bottom {
    position: relative;
    float: right;
    top: -2.8em;
    background-color: var(--primaryOne);
    right: -24px;
    z-index: 200;
    width: 40%
}
.text-bottom i {
    margin-left: 25px;
    margin-right: 10px;
    color: var(--primaryThree);
    font-size: 12px;
    
}
.text .fa-map-marker-alt {
    transform:rotate(90deg);
}
.text-bottom p {
    display: inline-block;
    padding-top: 12px;
    padding-bottom: 5px;
    font-size: 10px
}
.text-bottom span {
    color: var(--primaryFour);
}
.header .header-text {
    word-break: normal;
    width: 300px;
    font-weight: bolder;
    color: var(--primaryFour);
    line-height: 46px;
    font-size: 30px;
    margin-top: 8%;
}
.example {
    margin-top: 4%;
}
form.example input[type=text] {
    padding: 10px;
    font-size: 17px;
    border: none;
    float: left;
    width: 190px;
    background: var(--primaryThree);
    outline: none;
    font-family: FontAwesome;
    font-size: 15px;
    color: var(--secondaryOne);
}

form.example button {
    float: left;
    width: 90px;
    padding-bottom: 15px;
    padding-top: 9px;
    background-color: var(--primaryOne);
    color: var(--primaryTwo);
    font-size: 12px;
    border: none;
    cursor: pointer;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    outline: none;
    text-align: center;
    
}
form.example button:hover {
  background-color: var(--primaryOne);
}
/*header*/

/*stat*/
.stat .stat-h1 {
    word-break: normal;
    width: 300px;
    font-weight: bolder;
    color: var(--primaryFour);
    line-height: 46px;
    font-size: 25px;
}
/*stat*/

/*rent*/
.rent .stat-h1 {
    word-break: normal;
    width: 300px;
    font-weight: bolder;
    color: var(--primaryFour);
    line-height: 46px;
    font-size: 25px;
}
.rent .card {
    max-width: 90%;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
}
.rent .card img {
    height: 250px;
}
.rent .card h4 {
    font-size: 9px;
    margin-left: 5px;
    margin-bottom: 20px;
}
.rent .card .numspan {
    font-size: 14px;
    color: var(--primaryOne);
    font-weight: bold;
    line-height: 3.4;
    margin-left: 5px;
}
.rent .card .iconspan {
    float: right;
    margin-right: 0px;
}
.rent .card .text-one {
    font-size: 12px;
    color: var(--secondaryOne);
    line-height: 3.846;
}
.rent .card .text-two {
    font-size: 12px;
    color: var(--secondaryOne);
    line-height: 3.846;
    margin-right: 1px;
}
.rent .card .fa-shower {
    font-size: 10px;
    transform:rotateY(180deg);
    margin-right: 2px;
}
.rent .card .fa-car {
    font-size: 10px;
    margin-right: 2px;
    margin-left: 10px;
}
.rent .example {
    margin-top: 2%;
}
.rent form.example input[type=text] {
    padding: 10px;
    font-size: 17px;
    border: none;
    float: left;
    max-width: 250px;
    background: var(--primaryThree);
    outline: none;
    font-family: FontAwesome;
    font-size: 15px;
    color: var(--secondaryOne);
}

.rent form.example button {
    float: left;
    width: 90px;
    padding-bottom: 15px;
    padding-top: 9px;
    background-color: var(--primaryOne);
    color: var(--primaryTwo);
    font-size: 12px;
    font-weight: bolder;
    border: none;
    cursor: pointer;
    outline: none;
    text-align: center;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.rent form.example .sec-bot {
    float: left;
    width: auto;
    padding-bottom: 10px;
    padding-top: 10px;
    padding-left: 25px;
    padding-right: 25px;
    margin-left:auto;
    margin-top: 10px;
    background-color: var(--primaryThree);
    color: var(--primaryFour);
    font-size: 12px;
    border: none;
    cursor: pointer;
    outline: none;
    text-align: center;
}

/*rent*/
}

@media only screen and (min-width: 992px) {
/*navbar*/
  .navbar-nav.navbar-center {
    position: relative;
      margin-left: -8px;
      left: 35%;
  }
    .navbar-default .navbar-nav>li>a {
        font-size: 15px;
    }
/*navbar*/
    
/*header*/
.header img {
    left: 115px;
    width: 90%;
    height: 400px;
}
.text {
    position: absolute;
    top: 20%;
    left: 4%;
}
.header .text .scroll {
    margin-top: 50%;
    font-size: 12px;
    display: block;
}
.text .fa-arrow-down {
        display: block;
    }

.text-bottom {
    position: relative;
    float: right;
    top: -2.8em;
    background-color: var(--primaryOne);
    right: -21px;
    z-index: 200;
    width: 32%
}
.text-bottom i {
    margin-left: 25px;
    margin-right: 10px;
    color: var(--primaryThree);
    font-size: 12px;
    
}
.text .fa-map-marker-alt {
    transform:rotate(90deg);
}
.text-bottom p {
    display: inline-block;
    padding-top: 12px;
    padding-bottom: 5px;
    font-size: 10px
}
.text-bottom span {
    color: var(--primaryFour);
}
.header .header-text {
    word-break: normal;
    width: 300px;
    font-weight: bolder;
    color: var(--primaryFour);
    line-height: 46px;
    font-size: 30px;
    margin-top: 8%;
}
.example {
    margin-top: 4%;
}
form.example input[type=text] {
    padding: 10px;
    font-size: 17px;
    border: none;
    float: left;
    width: 190px;
    background: var(--primaryThree);
    outline: none;
    font-family: FontAwesome;
    font-size: 15px;
    color: var(--secondaryOne);
}

form.example button {
    float: left;
    width: 90px;
    padding-bottom: 15px;
    padding-top: 9px;
    background-color: var(--primaryOne);
    color: var(--primaryTwo);
    font-size: 12px;
    border: none;
    cursor: pointer;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    outline: none;
    text-align: center;
    
}
form.example button:hover {
  background-color: var(--primaryOne);
}
/*header*/

/*stat*/
.stat .stat-h1 {
    word-break: normal;
    width: 300px;
    font-weight: bolder;
    color: var(--primaryFour);
    line-height: 46px;
    font-size: 25px;
}
/*stat*/

/*rent*/
.rent .stat-h1 {
    word-break: normal;
    width: 300px;
    font-weight: bolder;
    color: var(--primaryFour);
    line-height: 46px;
    font-size: 25px;
}
.rent .card {
    max-width: 90%;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
}
.rent .card img {
    height: 250px;
}
.rent .card h4 {
    font-size: 9px;
    margin-left: 5px;
    margin-bottom: 20px;
}
.rent .card .numspan {
    font-size: 14px;
    color: var(--primaryOne);
    font-weight: bold;
    line-height: 3.4;
    margin-left: 5px;
}
.rent .card .iconspan {
    float: right;
    margin-right: 0px;
}
.rent .card .text-one {
    font-size: 12px;
    color: var(--secondaryOne);
    line-height: 3.846;
}
.rent .card .text-two {
    font-size: 12px;
    color: var(--secondaryOne);
    line-height: 3.846;
    margin-right: 1px;
}
.rent .card .fa-shower {
    font-size: 10px;
    transform:rotateY(180deg);
    margin-right: 2px;
}
.rent .card .fa-car {
    font-size: 10px;
    margin-right: 2px;
    margin-left: 10px;
}
.rent .example {
    margin-top: 2%;
}
.rent form.example input[type=text] {
    padding: 10px;
    font-size: 17px;
    border: none;
    float: left;
    max-width: 250px;
    background: var(--primaryThree);
    outline: none;
    font-family: FontAwesome;
    font-size: 15px;
    color: var(--secondaryOne);
}

.rent form.example button {
    float: left;
    width: 90px;
    padding-bottom: 15px;
    padding-top: 9px;
    background-color: var(--primaryOne);
    color: var(--primaryTwo);
    font-size: 12px;
    font-weight: bolder;
    border: none;
    cursor: pointer;
    outline: none;
    text-align: center;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.rent form.example .sec-bot {
    float: left;
    width: auto;
    padding-bottom: 10px;
    padding-top: 10px;
    padding-left: 25px;
    padding-right: 25px;
    margin-left:auto;
    margin-top: 10px;
    background-color: var(--primaryThree);
    color: var(--primaryFour);
    font-size: 12px;
    border: none;
    cursor: pointer;
    outline: none;
    text-align: center;
}

/*rent*/
}
@media only screen and (min-width: 1200px) {
    /*navbar*/
  .navbar-nav.navbar-center {
    position: relative;
      margin-left: -8px;
      left: 35%;
  }
    .navbar-default .navbar-nav>li>a {
        font-size: 15px;
    }
/*navbar*/
    
/*header*/
.header img {
    left: 120px;
    width: 92%;
    height: 400px;
}
.text {
    position: absolute;
    top: 20%;
    left: 8%;
}
.header .text .scroll {
    margin-top: 50%;
    font-size: 12px;
    display: block;
}
.text .fa-arrow-down {
        display: block;
    }

.text-bottom {
    position: relative;
    float: right;
    top: -3.1em;
    background-color: var(--primaryOne);
    right: -28px;
    z-index: 200;
    width: 30%
}
.text-bottom i {
    margin-left: 25px;
    margin-right: 10px;
    color: var(--primaryThree);
    font-size: 12px;
    
}
.text .fa-map-marker-alt {
    transform:rotate(90deg);
}
.text-bottom p {
    display: inline-block;
    padding-top: 12px;
    padding-bottom: 5px;
    font-size: 12px
}
.text-bottom span {
    color: var(--primaryFour);
}
.header .header-text {
    word-break: normal;
    width: 300px;
    font-weight: bolder;
    color: var(--primaryFour);
    line-height: 46px;
    font-size: 30px;
    margin-top: 8%;
}
.example {
    margin-top: 4%;
}
form.example input[type=text] {
    padding: 10px;
    font-size: 17px;
    border: none;
    float: left;
    width: 190px;
    background: var(--primaryThree);
    outline: none;
    font-family: FontAwesome;
    font-size: 15px;
    color: var(--secondaryOne);
}

form.example button {
    float: left;
    width: 90px;
    padding-bottom: 15px;
    padding-top: 9px;
    background-color: var(--primaryOne);
    color: var(--primaryTwo);
    font-size: 12px;
    border: none;
    cursor: pointer;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    outline: none;
    text-align: center;
    
}
form.example button:hover {
  background-color: var(--primaryOne);
}
/*header*/

/*stat*/
.stat .stat-h1 {
    word-break: normal;
    width: 300px;
    font-weight: bolder;
    color: var(--primaryFour);
    line-height: 46px;
    font-size: 30px;
}
/*stat*/

/*rent*/
.rent .stat-h1 {
    word-break: normal;
    width: 350px;
    font-weight: bolder;
    color: var(--primaryFour);
    line-height: 46px;
    font-size: 30px;
}
.rent .card {
    max-width: 90%;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
}
.rent .card img {
    height: 250px;
}
.rent .card h4 {
    font-size: 17px;
    margin-left: 5px;
    margin-bottom: 20px;
}
.rent .card .numspan {
    font-size: 14px;
    color: var(--primaryOne);
    font-weight: bold;
    line-height: 3.4;
    margin-left: 5px;
}
.rent .card .iconspan {
    float: right;
    margin-right: 0px;
}
.rent .card .text-one {
    font-size: 12px;
    color: var(--secondaryOne);
    line-height: 3.846;
}
.rent .card .text-two {
    font-size: 12px;
    color: var(--secondaryOne);
    line-height: 3.846;
    margin-right: 1px;
}
.rent .card .fa-shower {
    font-size: 10px;
    transform:rotateY(180deg);
    margin-right: 2px;
}
.rent .card .fa-car {
    font-size: 10px;
    margin-right: 2px;
    margin-left: 10px;
}
.rent .example {
    margin-top: 2%;
}
.rent form.example input[type=text] {
    padding: 10px;
    font-size: 17px;
    border: none;
    float: left;
    max-width: 250px;
    background: var(--primaryThree);
    outline: none;
    font-family: FontAwesome;
    font-size: 15px;
    color: var(--secondaryOne);
}

.rent form.example button {
    float: left;
    width: 90px;
    padding-bottom: 15px;
    padding-top: 9px;
    background-color: var(--primaryOne);
    color: var(--primaryTwo);
    font-size: 12px;
    font-weight: bolder;
    border: none;
    cursor: pointer;
    outline: none;
    text-align: center;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.rent form.example .sec-bot {
    float: left;
    width: auto;
    padding-bottom: 10px;
    padding-top: 10px;
    padding-left: 25px;
    padding-right: 25px;
    margin-left: 20px;
    margin-top: 10px;
    background-color: var(--primaryThree);
    color: var(--primaryFour);
    font-size: 12px;
    border: none;
    cursor: pointer;
    outline: none;
    text-align: center;
}

/*rent*/
}
@media only screen and (min-width: 1600px) {
    /*navbar*/
  .navbar-nav.navbar-center {
    position: relative;
      margin-left: -8px;
      left: 35%;
  }
    .navbar-default .navbar-nav>li>a {
        font-size: 15px;
    }
/*navbar*/
    
/*header*/
.header img {
    left: 100px;
    width: 94%;
    height: 400px;
}
.text {
    position: absolute;
    top: 20%;
    left: 14%;
}
.header .text .scroll {
    margin-top: 50%;
    font-size: 12px;
    display: block;
}
.text .fa-arrow-down {
        display: block;
    }

.text-bottom {
    position: relative;
    float: right;
    top: -3.1em;
    background-color: var(--primaryOne);
    right: -31px;
    z-index: 200;
    width: 30%
}
.text-bottom i {
    margin-left: 25px;
    margin-right: 10px;
    color: var(--primaryThree);
    font-size: 12px;
    
}
.text .fa-map-marker-alt {
    transform:rotate(90deg);
}
.text-bottom p {
    display: inline-block;
    padding-top: 12px;
    padding-bottom: 5px;
    font-size: 12px
}
.text-bottom span {
    color: var(--primaryFour);
}
.header .header-text {
    word-break: normal;
    width: 300px;
    font-weight: bolder;
    color: var(--primaryFour);
    line-height: 46px;
    font-size: 30px;
    margin-top: 8%;
}
.example {
    margin-top: 4%;
}
form.example input[type=text] {
    padding: 10px;
    font-size: 17px;
    border: none;
    float: left;
    width: 200px;
    background: var(--primaryThree);
    outline: none;
    font-family: FontAwesome;
    font-size: 15px;
    color: var(--secondaryOne);
}

form.example button {
    float: left;
    width: 90px;
    padding-bottom: 15px;
    padding-top: 9px;
    background-color: var(--primaryOne);
    color: var(--primaryTwo);
    font-size: 12px;
    border: none;
    cursor: pointer;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    outline: none;
    text-align: center;
    
}
form.example button:hover {
  background-color: var(--primaryOne);
}
/*header*/

/*stat*/
.stat .stat-h1 {
    word-break: normal;
    width: 300px;
    font-weight: bolder;
    color: var(--primaryFour);
    line-height: 46px;
    font-size: 30px;
}
/*stat*/

/*rent*/
.rent .stat-h1 {
    word-break: normal;
    width: 350px;
    font-weight: bolder;
    color: var(--primaryFour);
    line-height: 46px;
    font-size: 30px;
}
.rent .card {
    max-width: 90%;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
}
.rent .card img {
    height: 250px;
}
.rent .card h4 {
    font-size: 17px;
    margin-left: 5px;
    margin-bottom: 20px;
}
.rent .card .numspan {
    font-size: 14px;
    color: var(--primaryOne);
    font-weight: bold;
    line-height: 3.4;
    margin-left: 5px;
}
.rent .card .iconspan {
    float: right;
    margin-right: 0px;
}
.rent .card .text-one {
    font-size: 12px;
    color: var(--secondaryOne);
    line-height: 3.846;
}
.rent .card .text-two {
    font-size: 12px;
    color: var(--secondaryOne);
    line-height: 3.846;
    margin-right: 1px;
}
.rent .card .fa-shower {
    font-size: 10px;
    transform:rotateY(180deg);
    margin-right: 2px;
}
.rent .card .fa-car {
    font-size: 10px;
    margin-right: 2px;
    margin-left: 10px;
}
.rent .example {
    margin-top: 2%;
}
.rent form.example input[type=text] {
    padding: 10px;
    font-size: 17px;
    border: none;
    float: left;
    max-width: 250px;
    background: var(--primaryThree);
    outline: none;
    font-family: FontAwesome;
    font-size: 15px;
    color: var(--secondaryOne);
}

.rent form.example button {
    float: left;
    width: 90px;
    padding-bottom: 15px;
    padding-top: 9px;
    background-color: var(--primaryOne);
    color: var(--primaryTwo);
    font-size: 12px;
    font-weight: bolder;
    border: none;
    cursor: pointer;
    outline: none;
    text-align: center;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.rent form.example .sec-bot {
    float: left;
    width: auto;
    padding-bottom: 10px;
    padding-top: 10px;
    padding-left: 25px;
    padding-right: 25px;
    margin-left: 20px;
    margin-top: 10px;
    background-color: var(--primaryThree);
    color: var(--primaryFour);
    font-size: 12px;
    border: none;
    cursor: pointer;
    outline: none;
    text-align: center;
}
}
